<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>::SalesItem ::</title>
</head>
<body>

	<div>
		<h1>SalesItem </h1>
	
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
				
					<th>SalesItemInvoiceNo</th>
					<th>SalesItemNo</th>
					<th>SalesItemID</th>
					<th>SalesItemName</th>
					<th>SaleItemUOM</th>
					<th>Sale Date</th>
					<th>SaleItemQty</th>
					<th>SaleItemPrice</th>
					<th>CustomerID</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="salesItem : ${listSaleItems}">
					<td th:text="${salesItem.sale.sId}"></td>
					<td th:text="${salesItem.siId}"></td>
					<td th:text="${salesItem.item.itId}"></td>
					<td th:text="${salesItem.item.itName}"></td>
					
					<td th:text="${salesItem.item.itUOM.itUOMName}"></td>
					<td th:text="${salesItem.sale.sDate}"></td>
					
					<td th:text="${salesItem.siQty}"></td>
					<td th:text="${salesItem.item.itPrice}"></td>
					<td th:text="${salesItem.sale.customer.custId}"></td>

					
				</tr>
			</tbody>
		</table>

<br><br><br><br>
		<a th:href = "@{/sale}"> Back to Sale List</a>
	</div>
</body>
</html>